User sign in page

<form action="/" method="post">
  <input type="text" name="user[email]" placeholder="email"><br>
  <input type="password" name="user[password]" placeholder="password"><br>
  <input type="submit" value="submit">
</form>
<br>
<br>
<a href="/users/new">Register</a>