<div id="sfimg"></div>
<!-- change this div into a modal -->
<center class="container center_div login">
  <form class="form-inline" action="/" method="post">
    <div class="form-group col-xs-12 col-md-4 col-lg-4">
      <label class="sr-only" for="exampleInputEmail3">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" name="user[email]">
    </div>
    <div class="form-group col-xs-12 col-md-4 col-lg-4">
      <label class="sr-only" for="exampleInputPassword3">Password</label>
      <input type="password" class="form-control " id="exampleInputPassword3" placeholder="Password" name="user[password]">
    </div>
    <div class="col-xs-12 col-md-4 col-lg-4">
      <button type="submit" class="btn btn-info">Sign in</button>
    </div>
    </form>
  </center>


