<!-- D3 graph for progress -->
  <!-- Graph out weight -->
  <hr>
  <div class="container">
  <h1 class="center">Weight</h1>
  <svg id="vis_weight" class="svg_charts"></svg>

  <script type="text/javascript">graphOutWeight();</script>

  <!-- Graph out body fat -->
  <hr>
  <h1 class="center">Body Fat</h1>
  <svg id="vis_body_fat" class="svg_charts"></svg>
  <script type="text/javascript">graphOutBodyFat();</script>
  </div>