<form action="/users" method="post">
  <div class='col-sm-10 col-sm-offset-1'>
    <input type="text" name="user[name]" placeholder="Name" class='form-control'><br>
    <input type="text" name="user[email]" placeholder="Email" class='form-control'><br>
    <input type="password" name="user[password]" placeholder="Password" class='form-control'><br>
    <input type="password" name="user[password_confirmation]" placeholder="Password Confirmation" class='form-control'><br>
    <input type="submit" value="Submit" class="btn btn-default pull-left">
  </div>
</form>