<!-- <form action="/users" method="post">
  <div class='col-sm-10 col-sm-offset-1'>
    <input type="text" name="user[name]" placeholder="Name" class='form-control'><br>
    <input type="text" name="user[email]" placeholder="Email" class='form-control'><br>
    <input type="password" name="user[password]" placeholder="Password" class='form-control'><br>
    <input type="password" name="user[password_confirmation]" placeholder="Password Confirmation" class='form-control'><br>
    <input type="submit" value="Submit" class="btn btn-default pull-left">
  </div>
</form> -->

<br>
<form class="form-horizontal" action='/users' method="POST">
  <fieldset class='col-sm-10 col-sm-offset-1'>
    <div id="legend">
      <legend class="">Register</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label" for="username">First & Last Name</label>
      <div class="controls">
        <input type="text" id="username" name="user[name]" placeholder="" class="input-xlarge">
        <p class="help-block">Username can contain any letters or numbers, without spaces
        </p>
      </div>
    </div>
    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">E-mail</label> <div class="controls">
      <input type="text" id="email" name="user[email]" placeholder="" class="input-xlarge">
      <p class="help-block">Please provide your E-mail</p>
    </div>
  </div>
  <div class="control-group">
    <!-- Password-->
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      <input type="password" id="password" name="user[password]" placeholder="" class="input-xlarge">
      <p class="help-block">Password should be at least 6 characters</p>
    </div>
  </div>
  <div class="control-group">
    <!-- Password -->
    <label class="control-label" for="password_confirm">Password (Confirm)</label>
    <div class="controls">
      <input type="password" id="password_confirm" name="user[password_confirmation]" placeholder="" class="input-xlarge">
      <p class="help-block">Please confirm password</p>
    </div>
  </div>
  <div class="control-group"> <!-- Button -->
    <div class="controls">
      <button class="btn btn-default" >Register</button>
    </div>
  </div>
  </fieldset>
</form>