<% if current_user.admin? %>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand glyphicon glyphicon-check"></span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/users">Home</a></li>
            <!-- If user logged in and there is a session id then show below -->
            <% if current_user %>


              <li><%= link_to "logout", {:controller=> "sessions", :action=> "destroy"}, method: :delete %></li>

              <li><a href="/users/<%= session[:user_id] %>"><span class="glyphicon glyphicon-user"></span>  <%= current_user.name %></a></li>

            <% end %>

          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
<% end %>